{% extends 'base.html.twig' %}


{% block body %}

    <h1> Ice Cream - Home Page</h1>

    <hr>
    {% for iceCream in iceCreams %}


        <h2>{{ iceCream.name }}</h2>

        {{ iceCream.summary }}

        <br>

        {{ iceCream.photo }}

        <br>

        <a href="{{ url('ice_cream_show_public', {'id': iceCream.id}) }}"> See More</a>
        <hr>

    {% endfor %}
{% endblock %}
